div a + a {
  margin-left: 15px;
}

blockquote{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

blockquote p{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
}

cite{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  font-style: normal;
  
}

.itens-nav li + li {
  margin-left: 15px;
}

.introducao{
  background: url('../../assets/img/bg.jpg') no-repeat center;
  background-size: cover;
  height: 380px;
  margin-top: 76px;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.titulo-intro{
  font-size: 48px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}

.itens-nav{
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 14px;
  color: #000;
}

.footer{
  background-size: cover;
  background: #000;
  color: #fff;
  padding: 20px 15px 10px 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.rodape{
  position: relative;
  padding: 7px 0;
}

.navbar {
  padding: 2px 5px;
}

.citacao{
  font-size: 15px;
}

#subtitulo{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .05em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.card{
  margin: 0px 25px 0px 25px
}

.formulario{

  margin: 100px 0px 150px 25px;
}

.form-check-label{
  font-size: small;
}

.sobre{
  margin: 100px 0px 150px 25px;
  padding: 0px 100px 0px 100px;
}

#img-sobre{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.likes_e_dislikes{
  display: flex
}

/* aplica o cursor de selecionar em cima dos botoes de like */
.likes_e_dislikes > *{ 
  cursor: pointer;
}